<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bulma/bulma.css">
    <link rel="stylesheet" href="css/add_employee.css">

    <title>Flask App</title>
    <style>
        .box{
            width: 500px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
  <form action="{{ url_for('update_employee', emp_id=employee.emp_id) }}" method="post">
    <center>
   
        <h1 class="title has-has-text-danger-light" >UPDATE EMPLOYEE</h1>
        
        
        <div class="field">
        <label class="has-text-dark">Employee ID:</label> 
        <div class=" control"> 
        <input class="input has has-background-warning " name="emp_id" type="id" placeholder="Employee ID" value="{{ employee[0] }}" readonly>
        
        </div>
        
        </div>
        
        <div class="field">
        
        <label1 class="label has-text-dark ">Last Name:</label>
        
        <div class="control">
        
        <input class="input has-background-warning" name="lname" type= "name" placeholder="Last Name"  value="{{ employee[1] }}">
        
        </div>
        
        </div>

        <div class="field">
        
            <label1 class="label has-text-dark ">First Name:</label>
            
            <div class="control">
            
            <input class="input has-background-warning" name="fname" type= "name" placeholder="First Name" value="{{ employee[2] }}">
            
            </div>
            
            </div>

            <div class="field">
        
                <label1 class="label has-text-dark ">Middle Name:</label>
                
                <div class="control">
                
                <input class="input has-background-warning" name="mname" type= "name" placeholder="Middle Name" value="{{ employee[3] }}">
                
                </div>
                
                </div>




        <button type= "submit" class="button has-text-white has-background-dark" >UPDATE</button>
        </form>
        </center>
</body>

</html>