<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bulma/bulma.css">
    <title>Document</title>
</head>
<body>
    <section class="hero has-background-danger 0-is-italic">
        <div class="hero-body">
        </div>
      </section>
      <center> <p class="title">UPDATE EMPLOYEE</p></center>
      <form action="update.php" method="POST">
        <label for="EmployeeID">EMPLOYEE ID:</label>
      </form>